# Ignore Terraform state files
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ignore the .terraform directory
.terraform/

# Optionally, ignore crash logs and override files
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .terraformrc and .terraform.d
.terraformrc
.terraform.d/
